#slider-container {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 50px;
    cursor: pointer;
  }
  
  #prev-button {
    left: 10px;
  }
  
  #next-button {
    right: 10px;
  }
  